[Unit]
Description=T2FanRD daemon to manage fan curves for t2 macs

[Service]
Type=exec
ExecStart=t2fand
Restart=always

PrivateTmp=true
ProtectSystem=strict
ReadWritePaths=/run/t2fand.pid
ProtectHome=true
ProtectClock=true
ProtectHostname=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
PrivateDevices=true
PrivateNetwork=true
NoNewPrivileges=true
DevicePolicy=closed
KeyringMode=private
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateUsers=yes
RemoveIPC=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
