name: Build
on:
  pull_request:

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Lint"
        run: |
          docker run \
            --quiet \
            -v "$PWD":/repo \
            ghcr.io/t2linux/fedora-dev:latest \
            /repo/lint.sh

  build:
    runs-on: ubuntu-latest
    steps:

      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v41
        with:
          base_sha: ${{ steps.branch-name.outputs.base_ref_branch }} 
          files: |
            kernel/*
            copr-sharpenedblade-t2linux-release/*
            rust-tiny-dfr/*
            t2linux-audio/*
            t2linux-config/*
            rust-arraydeque/*
            rust-nonempty/*
            rust-rust-ini0.20/*
            t2fanrd/*
            linux-apfs-rw/*
            linux-apfs-rw-kmod/*
            t2linux-scripts/*
          dir_names: "true"

      - name: "Increase Disk Space"
        if: contains(steps.changed-files.outputs.modified_files, 'kernel')
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo docker image prune --all --force
          sudo rm -rf /home/linuxbrew
          sudo apt-get remove -y --purge fonts-noto-color-emoji subversion \
              sshpass g++ gcc gnupg2 imagemagick jq libmagic-dev \
              libmagickcore-dev	libmagickwand-dev	libssl-dev \
              mercurial openssh-client p7zip-full	ftp bison
          sudo apt-get autoremove -y

      - name: "Build"
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          CHANGED_PACKAGES=( $(for c in ${CHANGES[@]}; do cut -d/ -f1<<<$c; done | sort -u) )
          docker run \
            --privileged \
            -v "$PWD":/repo \
            ghcr.io/t2linux/fedora-dev:latest \
            /repo/build-packages.sh "${CHANGED_PACKAGES[@]}"
        env:
          CHANGES: ${{ steps.changed-files.outputs.all_changed_files }}

      - name: "Upload Artifact"
        if: '!cancelled()'
        uses: actions/upload-artifact@v3
        with:
          name: results
          path: |
            builddir/results/default/*
            !builddir/results/default/repodata
